<div class="table-responsive">
    <table class="table table-success table-striped">
      <caption>Tabla de peliculas - Tienda Alquileres</caption>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Formato</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pelicula of liPeliculas" id="liPeliculas">
          <td>{{pelicula.id}}</td>
          <td>{{pelicula.nombre}}</td>
          <td>{{pelicula.formato}}</td>
          <td><button (click)="EliminarPelicula(pelicula)" class="btn btn-outline-danger" id="borrarPelicula">Eliminar</button></td>
         </tr>
      </tbody>
    </table>
</div>

