<div class="table-responsive">
  <table class="table table-success table-striped">
    <caption>Tabla de alquileres - Tienda Alquileres</caption>
      <thead>
        <tr>
          <th>Id</th>
          <th>Cliente</th>
          <th>Película</th>
          <th>Fecha Alquiler</th>
          <th>Fecha Devolución</th>
          <th>Valor</th>
          <th>Pagar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alquiler of liAlquileres" id="liAlquileres">
          <td>{{alquiler.id}}</td>
          <td>{{alquiler.cliente}}</td>
          <td>{{alquiler.pelicula}}</td>
          <td>{{alquiler.fechaAlquiler}}</td>
          <td>{{alquiler.fechaDevolucion}}</td>
          <td>{{alquiler.valor}}</td>
          <td><button (click)="eliminarAlquiler(alquiler)" class="btn btn-outline-success" id="pagarAlquiler">Pagar</button> </td>
         </tr>
      </tbody>
    </table>
</div>
